// Estilos para (1024px)
@media (max-width: map-get($breakpoints, desktop)) {
    body {
        margin: 55px;
        border-width: 3px;
        border-radius: 1.5rem;
        max-width: 900px;
    }
    
    .nav-bar li a {
        font-size: 24px;
    }
    
    .section1-home div img {
        margin-top: 50px;
        height: 400px;
    }
    
    @include box-shadow;
    }