// Estilos para (768px)
@media (max-width: map-get($breakpoints, tablet)) {
    body {
        margin: 60px;
        border-width: 1%;
        border-radius: 2rem;
    }
    
    .nav-bar {
        flex-direction: row;
        align-items: center;
    }
    
    .nav-bar li {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .nav-bar li a {
        font-size: 15px;
    }
    
    .logo-nav {
        margin-bottom: 20px;
    }
    
    footer {
        @extend .flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $border-color;
        border-radius: 2.5rem;
        border-top-width: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1.8rem;
        border-bottom-right-radius: 1.8rem;
        height: 155px;
    }
    }
    