$font-kode-mono: 'Kode Mono', monospace;
$font-orange-kid: 'orange kid', cursive;
$primary-color: #5E4EBF;
$secondary-color: #FF3535;
$border-color: #9774E0;
$background-color: rgba(255, 255, 255, 0.13);
$box-shadow-color: rgba(255, 255, 255, 0.452);
